 <% if !friend.nil? %>
<div class="single-friend ">
                <%=image_tag(friend.user.image, :width => 50, :height => 50, :crop => :fill) %>
                <p style="color:#fff"> <%= friend.user.username %> </p> 
             
                <%= link_to 'unfriend', friend,
              method: :delete,
              data: { confirm: 'Are you sure?' } ,:remote => true ,:style => "color:#ce130c;""padding-left:5px;" ,:class=>'custom-delete-friend' %>
               </div>
<% end %>