<% if msg.empty? %>
<div class="alert alert-success" role="alert">
friend has been added succesfuly 
      </div>
<% else %>
 <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
<% end %>
 
      