<div class="col-6">

                          <div class="span4">
                            <img class="img-left" width="60" src="images/character.png" />
                            <div class="content-heading">
                              <h3> <%= member.username %> </h3>
                            </div>
                            <a href="">Remove</a>
                          </div>

                        </div>