<body>
<%= render "home/navbar" %>
<div class="all col-md-12">
  <div class="left col-md-6">
    <div class="label">
      Last Orders
    </div>
    <div class="info">
  
    <% @lastOrder.each do |order| %>
<p>
<%= order.meal %> on <%= order.created_at%>
</p>
      
<% end %>     
    </div>
  </div>
  <div class="right col-md-6">
    <div class="label2">
      Friend Activity
    </div>
    <div class="info custom-activity-updates">
          <%= render partial: "activity", collection: @orders , :as => :order  %>
    </div>
  </div>

  chat: <span id="chat"></span>
  <hr>
  <br>
  message:
  <br>
  <textarea id="msg"></textarea>
  <hr>
  <button id="send">send</button>
  
  <script>
   $(document).ready(function(){
     
    App.notification.received = function(data)
    {
      alert(data['message'])
    }

     $("#send").click(function(){
      msg = $("#msg").val()
      App.notification.send_notifi(msg)
     })
   })
  </script>






</div>
</body>



