<body>
<%= render "home/navbar" %>
<div class="all col-md-12">
  <div class="left col-md-6">
    <div class="label">
      Last Orders
    </div>
    <div class="info">
  
    <% @lastOrder.each do |order| %>
<p>
<%= order.meal %> on <%order.created_at%>
</p>
      
<% end %>     
    </div>
  </div>
  <div class="right col-md-6">
    <div class="label2">
      Friend Activity
    </div>
    <div class="info custom-activity-updates">
          <%= render partial: "activity", collection: @orders , :as => :order  %>
    </div>
  </div>
</div>
</body>



