<body>
<%= render "home/navbar" %>
<div class="all col-md-12">
  <div class="left col-md-6">
    <div class="label">
      Last Orders
    </div>
    <div class="info">
  
    <% @lastOrder.each do |order| %>
<p>
<%= order.meal %> on <%order.created_at%>
</p>
      
<% end %>     
    </div>
  </div>
  <div class="right col-md-6">
    <div class="label2">
      Friend Activity
    </div>
    <div class="info">
      <p>
        <span style="color: #ee4e48; font-style: italic; ">Fatem</span> has created an order for
        lunch from

        <span style="color:#f33d37;   font-style: italic;">mac</span> </p>
    </div>
  </div>
</div>
</body>



