<%= render "home/navbar" %>
<body>
<div class="all col-md-12">
  <div class="left col-md-6">
    <div class="label">
      Last Orders
    </div>
    <div class="info">
      <p>Lunch on 15/03/2019</p>
    </div>
  </div>
  <div class="right col-md-6">
    <div class="label2">
      Friend Activity
    </div>
    <div class="info">
      <p>
        <span style="color: #ee4e48; font-style: italic; ">Fatem</span> has created an order for
        lunch from

        <span style="color:#f33d37;   font-style: italic;">mac</span> </p>
    </div>
  </div>
</div>
</body>




