<html>

<head>
    <title>Add Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

</head>

<body class="bg-body">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <div class="groups orderDetails general-cover" style="height: 120%;">

        <!-- end navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="">
                    <img src="images/logo4.png" width="100" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="groups.html">Groups</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Orders</a>
                        </li>


                        <li class="nav-item" id="noti_Container">
                            <a>
                                <div id="noti_Counter"></div>
                                <!--SHOW NOTIFICATIONS COUNT.-->

                                <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->

                                <i class="fa fa-bell fa-lg"></i>

                                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                                <div id="notifications">
                                    <h3>Notifications</h3>
                                    <div style="height:300px;"></div>
                                    <!--noti. content-->
                                    <div class="seeAll"><a href="notifications.html">See All</a></div>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <div class="nav-right-side my-2 my-lg-0">
                        <a href="#"><img src="images/character.png" width="35" class="mr-2" /></a>
                        <a href="#">Username</a>
                        <a href="#" class="ml-3">Log out</a>
                    </div>
                </div>

            </div>
        </nav>

        <!-- end navbar -->

        <!-- start Add Order -->
        <div class="group-content">
            <div class="container">
                <br><br>
                <div class="row">
                    <div class="col-12">
                        <h1>Add Order</h1>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-8">
                        <!-- form -->
                        <div class="row">
                            <div class="col-4">
                                <label for="example-text-input" class="col-2 col-form-label">Order for:</label>
                            </div>
                            <div class="col-8">
                                <select class="custom-select">
                                    <option selected>Lunch</option>
                                    <option value="1">Breackfast</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="example-text-input" class="col-2 col-form-label">From:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Resturant Name">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="example-text-input" class="col-2 col-form-label">Friends:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" placeholder="Enter friend or group Name" value="" data-role="tagsinput"
                                    class="tags-input form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label for="example-text-input" class="col-2 col-form-label">Menu Image:</label>
                            </div>
                            <div class="col-8">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-danger btn-file">
                                                Browse… <input type="file" id="imgInp">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                    <img id='img-upload' />


                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-8">
                                <div style="text-align: right;" class="secondary-btn">
                                    <a href="" role="button" class="btn btn-outline-danger">Publish</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-4">
                        <!-- friend invited -->

                        <div class="fiends-invited">
                            <div class="row">
                                <h4>Friends invited</h4>
                                <div class="col-12">
                                    <div class="span4">
                                        <img class="img-left" width="60" src="images/character.png" />
                                        <div class="content-heading">
                                            <h3>Name &nbsp </h3>
                                        </div>
                                        <a href="">Remove</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end Add Order -->

    </div>
    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
    </script>

    <script src="notification.js"></script>
</body>

</html>