<html>

<head>
  <title>Groups</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<body class="bg-body">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

  <div class="groups general-cover">

    <!-- end navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="">
          <img src="images/logo4.png" width="100" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="groups.html">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Orders</a>
            </li>

            <li class="nav-item" id="noti_Container">
              <a>
                <div id="noti_Counter"></div>
                <!--SHOW NOTIFICATIONS COUNT.-->

                <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->

                <i class="fa fa-bell fa-lg"></i>

                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                <div id="notifications">
                  <h3>Notifications</h3>
                  <div style="height:300px;"></div>
                  <!--noti. content-->
                  <div class="seeAll"><a href="notifications.html">See All</a></div>
                </div>
              </a>
            </li>

          </ul>
          <div class="nav-right-side my-2 my-lg-0">
            <a href="#"><img src="images/character.png" width="35" class="mr-2" /></a>
            <a href="#">Username</a>
            <a href="#" class="ml-3">Log out</a>
          </div>
        </div>

      </div>
    </nav>

    <div class="group-content">
      <div class="container">
        <br><br>
        <div class="row">
          <div class="col-12">
            <h1>Groups</h1>
          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-2">
            <label style="color: aliceblue;font-size: 23px;font-weight: bold;" for="example-text-input" class="col-2 col-form-label">Group:</label>
          </div>

          <div class="col-10">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Group Name" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Add</button>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-5">
            <div class="panel panel-default">
              <div class="panel-body">
                <fieldset style="max-width: 100%; margin-bottom: 50px;" class="col-md-6">

                  <legend>My Groups</legend>

                  <div class="panel panel-default">
                    <div class="panel-container panel-body" style="overflow-y: scroll;overflow-x: hidden; max-height: 240px;">

                      <div class="row">

                        <div class="col-4">
                          <ul>
                            <li><a href="">OS</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <a href=""><i class="fas fa-user-plus"></i></a>
                        </div>
                        <div class="col-4">
                          <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>

                        <div class="col-4">
                          <ul>
                            <li><a href="">OS</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <a href=""><i class="fas fa-user-plus"></i></a>
                        </div>
                        <div class="col-4">
                          <a href=""> <i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>

                        <div class="col-4">
                          <ul>
                            <li><a href="">OS</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <a href=""><i class="fas fa-user-plus"></i></a>
                        </div>
                        <div class="col-4">
                          <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>

                        <div class="col-4">
                          <ul>
                            <li><a href="">OS</a></li>
                          </ul>
                        </div>
                        <div class="col-4">
                          <a href=""><i class="fas fa-user-plus"></i></a>
                        </div>
                        <div class="col-4">
                          <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>

                      </div>

                    </div>
                  </div>

                </fieldset>

                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-7">

            <div class="panel panel-default">
              <div class="panel-body">
                <fieldset style="max-width: 100%;" class="col-md-6">

                  <legend>Group Name</legend>

                  <div class="panel panel-default">
                    <div class="panel-container panel-body">

                      <div class="row">
                        <div class="col-4">
                          <label style="max-width: fit-content; color: aliceblue;" for="example-text-input" class="col-2 col-form-label">Your
                            Friend Name</label>
                        </div>

                        <div class="col-8">
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Friend Name" aria-label="Recipient's username"
                              aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-6">

                          <div class="span4">
                            <img class="img-left" width="60" src="images/character.png" />
                            <div class="content-heading">
                              <h3>Name &nbsp </h3>
                            </div>
                            <a href="">Remove</a>
                          </div>

                        </div>
                        <div class="col-6">

                          <div class="span4">
                            <img class="img-left" width="60" src="images/character.png" />
                            <div class="content-heading">
                              <h3>Name &nbsp </h3>
                            </div>
                            <a href="">Remove</a>
                          </div>

                        </div>

                      </div>

                    </div>
                  </div>

                </fieldset>

                <div class="clearfix"></div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>

  </div>
  <script src="notification.js"></script>

</body>

</html>